$sliderHeight: 3em;

.h5p-animator-slider-container {
  --slider-min-width: 4rem;
  --color-primary-dark: rgb(23, 104, 196);
  --color-primary-dark-80: rgb(23 104 196 / 80%);
  --color-primary-15: rgb(26 115 217 / 15%);
  --color-primary-20: rgb(26 115 217 / 20%);
  --color-primary-30: rgb(26 115 217 / 30%);

  --color-disabled: rgb(128 128 128 / 95%);

  min-width: var(--slider-min-width);
  width: 100%;

  .h5p-animator-slider {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-primary-15);
    border-radius: 3px;
    height: 0.5rem;
    opacity: 0.7;
    outline: none;
    -webkit-transition: .2s;
    touch-action: none;
    transition: opacity .2s;
    width: 100%;

    &[disabled] {
      &::-webkit-slider-thumb {
        background: var(--color-disabled);
      }
    }

    &:not[disabled] {
      cursor: pointer;
    }

    &:hover:not[disabled] {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background: var(--color-primary-dark);
      border: none;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;

      &:hover:not[disabled] {
        box-shadow: 0 0 0 0.5rem var(--color-primary-20);
      }

      &:active:not[disabled] {
        box-shadow: 0 0 0 0.5rem var(--color-primary-30);
      }

      &:focus:not[disabled] {
        box-shadow: 0 0 0 0.5rem var(--color-primary-30);
      }
    }

    &::-moz-range-thumb {
      appearance: none;
      background: var(--color-primary-dark);
      border: none;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;

      &:hover:not[disabled] {
        box-shadow: 0 0 0 0.5rem var(--color-primary-20);
      }

      &:active:not[disabled] {
        box-shadow: 0 0 0 0.5rem var(--color-primary-30);
      }

      &:focus:not[disabled] {
        box-shadow: 0 0 0 0.5rem var(--color-primary-30);
      }
    }

    &:focus {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.5rem var(--color-primary-20);
      }

      &::-moz-range-thumb {
        box-shadow: 0 0 0 0.5rem var(--color-primary-20);
      }
    }
  }
}
