@import "@styles/colors";

.h5p-animator-toolbar-tool-bar {
  align-items: center;
  background-color: $color-background;
  box-shadow: 10px 10px 30px $color-shadow-light;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.5em;

  &.absolute {
    bottom: 0;
    position: absolute;
    transition: opacity 0.5s;
    width: 100%;

    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

  &.transparent {
    opacity: 0;
  }

  .toolbar-button {
    color: $color-primary-dark;
    position: relative;
    flex-shrink: 0;

    &.toolbar-button-play {
      &::before {
        content: "\f04b";
        font-family: "H5PFontAwesome4", sans-serif;
        font-size: 1.15em;
        height: 1.15em;
        left: 50%;
        margin-left: -0.575em;
        margin-top: -0.575em;
        position: absolute;
        top: 50%;
        width: 1.15em;
      }

      &.toolbar-button-active {
        &:not(.toolbar-button-disabled) {
          background-color: $color-primary-5;
        }

        &::before {
          content: "\f04c";
        }
      }
    }

    &.toolbar-button-fullscreen {
      &.toolbar-button-exit-fullscreen {
        &::before {
          content: "\f066";
        }
      }

      &.toolbar-button-enter-fullscreen {
        &::before {
          content: "\f065";
        }
      }

      &::before {
        font-family: "H5PFontAwesome4", sans-serif;
        font-size: 1.15em;
        height: 1.15em;
        left: 50%;
        margin-left: -0.575em;
        margin-top: -0.575em;
        position: absolute;
        top: 50%;
        width: 1.15em;
      }
    }
  }

  &.display-none {
    display: none;
  }
}
