.h5p-animator-toolbar-tool-bar {
  align-items: center;
  background-color: var(--color-background);
  box-shadow: 10px 10px 30px var(--color-shadow-light);
  box-sizing: border-box;
  container-name: toolbar;
  container-type: inline-size;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;

  &.absolute {
    bottom: 0;
    position: absolute;
    transition: opacity 0.5s;
    width: 100%;

    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

  &.transparent {
    opacity: 0;
  }

  .toolbar-button {
    color: var(--color-primary-dark);
    position: relative;
    flex-shrink: 0;

    &::before {
      content: "";
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: 1.15rem;
      height: 1.15rem;
      left: 50%;
      margin-left: -0.575rem;
      margin-top: -0.575rem;
      position: absolute;
      top: 50%;
      width: 1.15rem;
    }

    &.toolbar-button-play {
      &::before {
        content: var(--icon-fontawesome-play);
      }

      &.toolbar-button-active {
        &:not(.toolbar-button-disabled) {
          background-color: var(--color-primary-5);
        }

        &::before {
          content: var(--icon-fontawesome-pause);
        }
      }
    }

    &.toolbar-button-fullscreen {
      &.toolbar-button-exit-fullscreen {
        &::before {
          content: var(--icon-fontawesome-shrink);
        }
      }

      &.toolbar-button-enter-fullscreen {
        &::before {
          content: var(--icon-fontawesome-expand);
        }
      }
    }
  }

  &.display-none {
    display: none;
  }
}

@container toolbar (width < 320px) {
  .h5p-animator-time-display {
    display: none;
  }
}
